  <title>XTORRE</title>
  <meta charset="utf-8">
  <meta name="application-name" content="XTORRE"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1, shrink-to-fit=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <link rel="icon" href="/media/favicon.ico">
  <!-- 
  <link rel="apple-touch-icon" href="/media/favicons/favicon076.png" sizes="76x76">
  <link rel="apple-touch-icon" href="/media/favicons/favicon120.png" sizes="120x120">
  <link rel="apple-touch-icon" href="/media/favicons/favicon152.png" sizes="152x152">
  <link rel="apple-touch-icon" href="/media/favicons/favicon180.png" sizes="180x180">
  <link rel="shortcut icon"    href="/media/favicons/favicon180.png" sizes="180x180">
  -->
  <link rel="stylesheet" id="google-fonts-1-css" href="https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CMontserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;display=auto&amp;ver=6.1.1" media="all">
  <link rel="stylesheet" href="/styles/common.css">
